{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>



<nav class="bg-white border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <div class="flex items-center space-x-4">
      <h1 class="text-xl font-bold text-red-600-800">Event Management Project</h1>
    </div>

   
   
   
    <div class="w-full md:w-auto" id="navbar-default">

      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4  rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="{% url 'event_list'%}" class="block py-2 px-3 text-blue-500 rounded-sm hover:text-blue-500 hover:bg-transparent">Event</a>

        </li>
        <li>
          <a href="{% url 'category_list'%}" class="block py-2 px-3 text-blue-500 rounded-sm hover:text-blue-500 hover:bg-transparent">Category</a>

        </li>
        <li>
         <a href="{% url 'participant_list'%}" class="block py-2 px-3 text-blue-500 rounded-sm hover:text-blue-500 hover:bg-transparent">Participate</a>
        </li>
        <li>
          <a href="{% url 'dashboard' %}" class="block py-2 px-3 text-blue-500 rounded-sm hover:text-blue-500 hover:bg-transparent">Go To Dashboard</a>
        </li>
         
      </ul>
    </div>
  </div>
</nav>





<form method="get" action="{% url 'event_list' %}" class="max-w-md mx-auto mt-8">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" name="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Your Event Here" required />
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2">Search</button>
    </div>
</form>





<section class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto mt-10 px-4">

  
  <div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
    <h2 class="text-xl font-bold mb-4">Today's Events</h2>
    
    <img src="{% static 'images/picone.jpg' %}" alt="Today's Event" class="w-full h-auto rounded-md mb-4" />
    <p>Details : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, ipsum.</p>
    <button class="relative mt-3 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
        View Details
      </span>
    </button>
  </div>

  <div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
    <h2 class="text-xl font-bold mb-4">Upcoming Events</h2>
    <img src="{% static 'images/picthree.jpg' %}" alt="Today's Event" class="w-full h-auto rounded-md mb-4" />
    <p> Details : Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, impedit?</p>
      <button class="relative mt-3 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
        View Details
      </span>
    </button>
  
  </div>


  <div class="bg-white rounded-lg shadow-md p-6 border border-gray-200">
    <h2 class="text-xl font-bold mb-4">Past Events</h2>
    <img src="{% static 'images/pictwo.jpg' %}" alt="Today's Event" class="w-full h-auto rounded-md mb-4" />
    <p>Deatils : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, dignissimos?</p>
      <button class="relative mt-3 inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
        View Details
      </span>
    </button>
  </div>

</section>






<footer class="bg-white rounded-lg shadow-sm m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="#" class="hover:underline me-4 md:me-6 text-blue-500">About</a>
        </li>
        <li>
          <a href="#" class="hover:underline text-blue-500">Contact</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm sm:text-center text-blue-500">© 2025. All Rights Reserved.</span>
  </div>
</footer>


</body> 
</html>